:root{
  --bg-dark: #1F2937;
  --header-maintext: #F9FAF8;
  --hero-smalltext: #E5E7EB;
  --button: #3882F6;
}

*{
  margin: 0;
  font-family: sans-serif, Helvetica, Arial;
}

header{
  display: flex;
  flex-direction: column;
  background-color: var(--bg-dark);
  height: 400px;
  padding: 0 12%;
  color: var(--header-maintext);
}

.nav{
  display: flex;
  flex: 1 1 0;
  padding: 10px;
  border: 3px green solid;
}

.hero{
  display: flex;
  flex: 4 1 0;
  /* border: 3px red solid; */
}

.text, .image{
  display: flex;
  flex-direction: column;
  flex: 1 1 0;
}

.text{
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
}

.text>h1{
  font-size: 48px;
  font-weight: bolder;
  margin-bottom: -10px;
}

.text>p{
  font-size: 18px;
  max-width: 300px;
  color: var(--hero-smalltext);
}

.text>button{
  background-color: var(--button);
  border-radius: 8px;
  padding: 10px 25px;
  color: var(--hero-maintext);
  font-weight: bold;
  font-size: medium;
  border: none;
}

.text>button:hover{
  background-color: #5090f7;
}

.image{
  justify-content: center;
  align-items: flex-end;
}