:root{
  --bg-dark: #1F2937;
  --header-maintext: #F9FAF8;
  --hero-smalltext: #E5E7EB;
  --button: #3882F6;
  --quote: #E5E7EB;
}

*{
  margin: 0;
  font-family: sans-serif, Helvetica, Arial;
}

a{
  color: var(--header-maintext);
  text-decoration: none;
}

a:active, h2:active{
  color: #e0e0e0;
}

a:visited{
  color: var(--header-maintext);
}

header{
  display: flex;
  flex-direction: column;
  background-color: var(--bg-dark);
  height: 400px;
  padding: 0 12%;
  color: var(--header-maintext);
}

.nav{
  display: flex;
  flex: 1 1 0;
  padding-top: 18px;
}

.logo, .sections{
  display: flex;
  flex: 1 1 0;
}

.logo{
  align-items: flex-start;
}

.sections{
  justify-content: right;
  gap: 83px;
  margin-top: 2px;
}

.hero{
  display: flex;
  flex: 4 1 0;
}

.text, .image{
  display: flex;
  flex-direction: column;
  flex: 1 1 0;
}

.text{
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
}

.text>h1{
  font-size: 48px;
  font-weight: bolder;
  margin-bottom: -10px;
}

.text>p{
  font-size: 18px;
  max-width: 300px;
  color: var(--hero-smalltext);
}

.text>button, .end-button{
  background-color: var(--button);
  border-radius: 8px;
  padding: 10px 25px;
  color: var(--hero-maintext);
  font-weight: bold;
  font-size: medium;
  border: none;
}

.text>button:hover, .end-button:hover, .banner-button button:hover{
  background-color: #2c76ec;
}

.text>button:active, .end-button:active, .banner-button button:active{
  background-color: #0b5fe6;
}

.image{
  justify-content: center;
  align-items: flex-end;
}

main{
  padding-bottom: 136px;
}

main>div>p{
  font-size: 36px;
  color: var(--bg-dark);
  font-weight: bolder;
  text-align: center;
  margin: 50px auto;
}

.mentions{
  display: flex;
  flex: 1 1 0;
  gap: 60px;
  justify-content: center;
  text-align: center;
  font-weight: bold;
}

.mentions>div>img{
  border: 4px var(--button) solid;
  border-radius: 20px;
  width: 180px;
  margin-bottom: 10px;
}

.quote{
  background-color: var(--quote);
  color: var(--bg-dark);
  font-size: 36px;
  font-style: italic;
  padding: 140px 0;
}

.quote>div{
  width: 60%;
  margin: 0 auto;
}

.author{
  text-align: end;
  font-style: normal;
  font-size: 25px;
  font-weight: bold;
  padding-right: 100px;
}

.author>a{
  color: #377feb;
  text-decoration: underline;
}

.author>a:active{
  color: #96b8ec;
}

.action-container{
  display: flex;
  flex: 1 1 0;
  justify-content: center;
  padding: 0 12%;
}

.banner{
  display: flex;
  background-color: var(--button);
  margin: 60px auto;
  padding: 60px 30px;
  width: 100%;
  border-radius: 8px;
  color: var(--header-maintext);
}

.words, .banner-button{
  display: flex;
  justify-content: center;
  align-items: center;
}

.words{
  flex: 2 1 0;
  text-align: center;
}

.words>p{
  text-align: left;
  font-size: 18px;
}

.words span{
  font-weight: bold;
  font-size: 24px;
}

.banner-button{
  flex: 1 1 0;
}

.banner-button button{
  background-color: var(--button);
  border-radius: 8px;
  padding: 10px 40px;
  color: var(--hero-maintext);
  font-weight: bold;
  font-size: large;
  border: 2px white solid;
}

.banner-button button:active{
  background-color: #0b5fe6;
  color: var(--header-maintext);
}

footer{
  background-color: var(--bg-dark);
  color: var(--hero-smalltext);
  text-align: center;
  font-weight: 900;
  padding: 30px 0;
}

footer a{
  text-decoration: underline;
}

footer a:visited{
  color: var(--hero-smalltext);
}